@charset "UTF-8";
@font-face {
  font-family: "ARESSENCE";
  src: url("../fonts/ARESSENCE.eot");
  /* IE9+ Compat Modes */
  src: url("../fonts/ARESSENCE.eot?#iefix") format("embedded-opentype"), url("../fonts/ARESSENCE.woff2") format("woff2"), url("../fonts/ARESSENCE.woff") format("woff"), url("../fonts/ARESSENCE.ttf") format("truetype");
  /* Safari, Android, iOS */
}
body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #566378;
}

.white-color {
  color: #ffffff;
}

#button2 {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button2::after {
  content: "薓";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button2:hover {
  cursor: pointer;
  background-color: #333;
}

#button2:active {
  background-color: #555;
}

#button2.show {
  opacity: 1;
  visibility: visible;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mt-12_text {
  margin-top: 12rem;
}

.pointer {
  cursor: pointer !important;
}

.content-section1,
.content-section2,
.img-topic,
.flex-card,
.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#section1 {
  width: 100%;
  height: 100vh;
  background-color: #566378;
  box-sizing: border-box;
  color: #ffffff;
}
#section1 h1 {
  font-family: "ARESSENCE";
  margin: 2rem;
  font-size: 5em;
  color: #566378;
  letter-spacing: 22.01px;
  text-align: center;
  position: absolute;
  z-index: 3;
}
#section1 p {
  font-size: 1.9em;
  margin-top: 106px;
  color: #566378;
  font-weight: bold;
  opacity: 0.6;
  position: absolute;
  z-index: 3;
}
#section1 .button-section1 {
  width: 150px;
  position: absolute;
  text-decoration: none;
  text-align: center;
  margin-top: 11em;
  padding: 10px;
  box-shadow: 0px 0px 2px #3c3c3c;
  background-color: #79589F;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, rgba(159, 88, 150, 0)), color-stop(1, rgba(159, 88, 150, 0.6)));
  background-image: -o-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0%, rgba(159, 88, 150, 0.6) 100%);
  background-image: -moz-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0%, rgba(159, 88, 150, 0.6) 100%);
  background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0%, rgba(159, 88, 150, 0.6) 100%);
  background-image: -ms-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0%, rgba(159, 88, 150, 0.6) 100%);
  background-image: linear, to left bottom, rgba(159, 88, 150, 0) 0%, rgba(159, 88, 150, 0.6) 100%;
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;
  color: #fafafa;
  cursor: pointer;
  z-index: 1;
}

.sidenav {
  right: 0 !important;
}

.sidenav-overlay {
  z-index: 5 !important;
}

.sidenav {
  z-index: 6 !important;
}

.navbar_z-less {
  z-index: 1 !important;
}

.navbar_z-more {
  z-index: 2 !important;
}

.fix-navbar {
  z-index: 1;
  position: absolute;
  top: 0;
  padding: 0 3rem;
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.nav-bar_color {
  z-index: 4 !important;
  position: fixed;
  background: #6a7b97;
}

.margin-navbar {
  margin-top: 15px;
}

.img-menu {
  width: 43px;
}

.img-logo_s {
  width: 140px;
}

.menu-bar {
  width: 42px;
}

.img-social_1 {
  width: 12px;
}

.img-social_2 {
  width: 30px;
}

.mount {
  position: absolute;
  width: 100%;
  top: 37rem;
  left: 0;
  z-index: 1;
}

.palace {
  position: absolute;
  top: 19rem;
  left: 0;
  width: 100%;
  z-index: 2;
}

.sky-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

[data-scroll] {
  transition: all 2s;
}

[data-scroll=in] {
  opacity: 1;
  transform: translateX(0);
}

[data-scroll=out] {
  opacity: 0;
  transform: translateX(-50px);
}

#section2 {
  width: 100%;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  background-color: #566378;
}
#section2 .text-intro {
  width: 60%;
  font-size: 25px;
  font-weight: 300;
}

.img-topic > div {
  width: 1024px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.img-topic div > img {
  width: 445px;
}

.img-margin {
  margin: 3rem 2rem 3rem 2rem;
}

.text-img1,
.text-img2,
.text-img3,
.text-img4 {
  text-align: center;
  font-family: "ARESSENCE";
  font-size: 46px;
  width: 218px;
  letter-spacing: 2px;
  line-height: 1.27;
  margin: -36px auto;
}

.card-section {
  width: 70%;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 7rem;
}
.card-section figure {
  overflow: hidden;
  height: 278px;
  margin: 3rem 3rem 20px 3rem;
  border-radius: 8px;
}
.card-section figure .all-img_card {
  display: block;
  width: 100%;
  border-radius: 8px;
}
.card-section figure .lan-1 {
  margin: -11.875% 0;
}
.card-section figure .lan-2 {
  margin: -30.875% 0;
}
.card-section figure .lan-3 {
  margin: -40.875% 0;
}
.card-section figure .lan-4 {
  margin: -44.875% 0;
}
.card-section figure .lan-5 {
  margin: -17.875% 0;
}
.card-section .bread {
  margin: auto 3rem;
}

.title-card {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: start;
  margin: 2rem 3rem 0rem;
  font-family: "ARESSENCE";
  font-size: 60px;
  color: #445062;
}

.icon-card {
  width: 60px;
}

.text-card {
  margin: auto 107px;
  font-size: 23px;
  text-align: left;
  color: #383940;
}

.pos-btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.pos-btn img {
  width: 50px;
  margin: 2em;
}

footer {
  width: 100%;
  height: 55px;
  background-color: #7a8dab;
}
footer a {
  color: #ffffff !important;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .sky-bg {
    top: 0;
  }

  .button-section1 {
    z-index: 3;
  }

  .fix-navbar {
    padding: 0;
  }

  #section1 h1 {
    display: none;
  }

  #section1 p {
    font-size: 1.5em;
    margin-top: 15px;
  }

  #section1 .button-section1 {
    width: 130px;
    margin-top: 5em;
    z-index: 2;
  }

  .palace {
    top: 14rem;
    z-index: 2;
  }

  .mount {
    top: 24em;
    z-index: 1;
  }

  #section2 .text-intro {
    width: 70%;
    font-size: 1em;
  }

  .img-margin {
    margin: 1rem;
  }

  .img-topic div > img {
    width: 241px;
  }

  .text-img1,
.text-img2,
.text-img3,
.text-img4 {
    font-size: 28px;
    margin: -24px auto 5px;
  }

  .mt-12_text {
    margin-top: 6rem;
  }

  .card-section {
    width: 90%;
  }

  .card-section figure {
    height: 150px;
    margin: 1rem 1rem 0 1rem;
  }

  .card-section .bread {
    margin: 10px 3rem;
    text-align: center;
  }

  .icon-card {
    width: 47px;
  }

  .title-card {
    justify-content: center;
    margin-top: 15px;
    margin-left: 38px;
    font-size: 44px;
  }

  .text-card {
    margin: 1em;
    font-size: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }
  .text-card p {
    margin: 0;
    padding: 0 1rem;
  }

  .pos-btn img {
    width: 45px;
    margin: 2em;
  }
}

/*# sourceMappingURL=main.css.map */
